.Hobby_Asosiysi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Hobby1 p {
  margin-top: 20px;
}

.Hobby1 h1 {
  font-size: 50px;
}

.Hobby2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}



.Hobby2 img {
  width: 100%;
  height: 400px;
}

.Hobby2_text p {
  margin-top: 10px;
}

.Hobby2_text h4{
  font-size: 20px;
}

@media (max-width: 900px) {
  .Hobby2{
    flex-direction: column;
  }

  .Hobby2 img {
  width: 100%;
  height: auto;
}
}