.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.hero__left--title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
}

.hero__left--desc {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}  

.hero__right--img{
  width: 500px;
  height: auto;
}

.hero__left--btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} 

@media (max-width: 923px) {
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .hero__right--img {
    width: 80%;
  }
}