.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding: 20px 10px;
  margin-bottom: 50px;
}

.skill__cards {
  display: flex;
  text-align: center;
  gap: 20px;
}

.my__skills {
  width: 100%;
  padding: 30px 0px;
  border: 2px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.my__skills:hover {
  box-shadow: 8px 10px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 8px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 10px 0px 0px rgba(0, 0, 0, 1);
}

@media (max-width: 750px) {
  .skill__cards {
    display: flex;
    flex-wrap: wrap;
  }
}
