.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e0e0e0;
}

.navbar__logo--link {
  color: black;
  text-decoration: none;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

.navbar__links {
  display: flex;
  gap: 30px;
}

.navbar__links a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.navbar__links a:hover {
  color: #ff5733;
  transition: 0.3s;
}

.bars {
  display: none;
}

@media (max-width: 750px) {
  .bars {
    display: block;
    font-size: 25px;
    color: black;
    display: flex;
  }

  .navbar__links {
    display: none;
  }

  .navbar__logo--link {
    font-size: 30px;
  }
}
