.bars_modal {
  background-color: black;
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 80px;
  border-radius: 15px;
}

.bars_modal ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bars_modal ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}
